ingestion/workflows/documentation-refresh.json
{
  "name": "Allowlisted documentation refresh",
  "nodes": [
    {
      "parameters": { "rule": { "interval": [{ "field": "weeks", "weeksInterval": 4 }] } },
      "id": "docs-schedule",
      "name": "Scheduled documentation refresh",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": { "assignments": { "assignments": [
        { "name": "sourcePolicyId", "value": "espressif-documentation", "type": "string" },
        { "name": "sourcePolicyRevision", "value": 1, "type": "number" },
        { "name": "canonicalUrl", "value": "https://docs.espressif.com/projects/esp-idf/en/latest/esp32/", "type": "string" }
      ] } },
      "id": "docs-policy",
      "name": "Approved source-policy input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 0]
    },
    {
      "parameters": { "url": "={{ $json.canonicalUrl }}", "options": { "response": { "response": { "responseFormat": "text" } } } },
      "id": "docs-fetch",
      "name": "Fetch allowlisted documentation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    },
    {
      "parameters": { "jsCode": "const policy = $('Approved source-policy input').first().json;\nconst { contentHash, ...sourceResponse } = $json;\nconst rawContent = typeof sourceResponse.body === 'string' ? sourceResponse.body : typeof sourceResponse.data === 'string' ? sourceResponse.data : sourceResponse;\nconst content = typeof rawContent === 'string' ? rawContent : JSON.stringify(rawContent);\nconst chunkContent = content.slice(0, 50_000);\nreturn [{ json: { version: 'v2', sourcePolicyId: policy.sourcePolicyId, sourcePolicyRevision: policy.sourcePolicyRevision, idempotencyKey: `documentation:${policy.canonicalUrl}`, source: { externalId: policy.canonicalUrl, canonicalUrl: policy.canonicalUrl, title: 'Espressif ESP-IDF documentation', locator: 'configured root', contentHash, license: 'public documentation terms recorded', termsStatus: 'public-documentation', fetchedAt: new Date().toISOString(), expiresAt: new Date(Date.now() + 28 * 24 * 60 * 60 * 1000).toISOString() }, chunks: [{ externalId: `${policy.canonicalUrl}:root`, content: chunkContent, citation: { sourceUrl: policy.canonicalUrl, locator: 'configured root', title: 'Espressif ESP-IDF documentation' } }] } }];" },
      "id": "docs-payload",
      "name": "Build typed documentation payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0]
    },
    {
      "parameters": { "action": "hash", "type": "SHA256", "binaryData": false, "value": "={{ typeof $json.body === 'string' ? $json.body : typeof $json.data === 'string' ? $json.data : JSON.stringify($json) }}", "dataPropertyName": "contentHash", "encoding": "hex" },
      "id": "docs-content-hash",
      "name": "Hash fetched content",
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [660, 0]
    },
    {
      "parameters": { "method": "POST", "url": "={{ $env.INGEST_API_URL }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.INGEST_API_TOKEN }}" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json) }}" },
      "id": "docs-upsert",
      "name": "Application ingest upsert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "connections": {
    "Scheduled documentation refresh": { "main": [[{ "node": "Approved source-policy input", "type": "main", "index": 0 }]] },
    "Approved source-policy input": { "main": [[{ "node": "Fetch allowlisted documentation", "type": "main", "index": 0 }]] },
    "Fetch allowlisted documentation": { "main": [[{ "node": "Hash fetched content", "type": "main", "index": 0 }]] },
    "Hash fetched content": { "main": [[{ "node": "Build typed documentation payload", "type": "main", "index": 0 }]] },
    "Build typed documentation payload": { "main": [[{ "node": "Application ingest upsert", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "4e820d84-3aef-4c32-89c3-42ee06dfe001"
}
