ingestion/workflows/ebay-browse-catalog-refresh.json
{
  "name": "eBay Browse API cached catalog refresh",
  "nodes": [
    { "parameters": {}, "id": "ebay-manual", "name": "Manual eBay refresh", "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [0, 0] },
    { "parameters": { "authentication": "genericCredentialType", "genericAuthType": "httpBasicAuth", "method": "POST", "url": "https://api.ebay.com/identity/v1/oauth2/token", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Content-Type", "value": "application/x-www-form-urlencoded" }] }, "sendBody": true, "contentType": "raw", "rawContentType": "application/x-www-form-urlencoded", "body": "grant_type=client_credentials&scope=https%3A%2F%2Fapi.ebay.com%2Foauth%2Fapi_scope" }, "id": "ebay-token", "name": "Request eBay application token", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [220, 0], "credentials": { "httpBasicAuth": { "name": "eBay Browse API client credentials" } } },
    { "parameters": { "jsCode": "const token = $input.first().json.access_token;\nif (typeof token !== 'string' || token.length === 0) throw new Error('eBay did not return an application token.');\nreturn [\n  { json: { token, partId: '7e893f29-068e-43e2-9c3c-b9ba2d9ed6db', query: 'ESP32 DevKit V1' } },\n  { json: { token, partId: '5cfc4a97-32ef-45c3-9162-ec2a9094fd85', query: 'BME280 I2C sensor breakout' } },\n];" }, "id": "ebay-queries", "name": "Approved eBay part queries", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [440, 0] },
    { "parameters": { "url": "https://api.ebay.com/buy/browse/v1/item_summary/search", "sendQuery": true, "queryParameters": { "parameters": [{ "name": "q", "value": "={{ $json.query }}" }, { "name": "limit", "value": "3" }, { "name": "filter", "value": "buyingOptions:{FIXED_PRICE},conditions:{NEW},deliveryCountry:US" }] }, "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $json.token }}" }, { "name": "X-EBAY-C-MARKETPLACE-ID", "value": "EBAY_US" }] } }, "id": "ebay-search", "name": "Search approved US fixed-price listings", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [660, 0], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 },
    { "parameters": { "jsCode": "const response = $input.item.json;\nconst query = $('Approved eBay part queries').item.json;\nconst listing = (response.itemSummaries ?? []).find((item) => item.buyingOptions?.includes('FIXED_PRICE') && item.estimatedAvailabilityStatus === 'IN_STOCK' && item.itemWebUrl && item.image?.imageUrl && Number(item.price?.value) > 0 && /^[A-Z]{3}$/.test(item.price?.currency ?? ''));\nif (!listing) return [];\nreturn [{ json: { ...query, itemId: listing.itemId, title: listing.title, itemWebUrl: listing.itemWebUrl, thumbnailUrl: listing.image.imageUrl.replace(/s-l\\d+/, 's-l225'), price: Number(listing.price.value), currency: listing.price.currency } }];" }, "id": "ebay-select", "name": "Select cited eBay listing", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [880, 0] },
    { "parameters": { "action": "hash", "type": "SHA256", "binaryData": false, "value": "={{ JSON.stringify($json) }}", "dataPropertyName": "contentHash", "encoding": "hex" }, "id": "ebay-hash", "name": "Hash selected eBay listing", "type": "n8n-nodes-base.crypto", "typeVersion": 1, "position": [1100, 0] },
    { "parameters": { "url": "={{ $json.thumbnailUrl }}", "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "thumbnail" } } } }, "id": "ebay-thumbnail", "name": "Download eBay thumbnail for local cache", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1320, 0], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 },
    { "parameters": { "jsCode": "const listing = $('Hash selected eBay listing').item.json;\nconst image = $input.item.binary?.thumbnail;\nif (!image?.data) return [];\nconst mimeType = image.mimeType ?? 'image/jpeg';\nif (!['image/avif', 'image/gif', 'image/jpeg', 'image/png', 'image/webp'].includes(mimeType)) throw new Error(`Unsupported thumbnail type: ${mimeType}`);\nconst observedAt = new Date();\nconst expiresAt = new Date(observedAt.getTime() + 24 * 60 * 60 * 1000);\nconst citation = { sourceUrl: listing.itemWebUrl, locator: 'eBay Browse API item summary', title: listing.title };\nreturn [{ json: { version: 'v2', sourcePolicyId: 'ebay-browse-catalog', sourcePolicyRevision: 1, idempotencyKey: `ebay:${listing.itemId}:${observedAt.toISOString().slice(0, 10)}`, source: { externalId: `ebay:${listing.itemId}`, canonicalUrl: listing.itemWebUrl, title: listing.title, locator: citation.locator, contentHash: listing.contentHash, license: 'eBay Browse API data under configured developer terms', termsStatus: 'public-catalog', fetchedAt: observedAt.toISOString(), expiresAt: expiresAt.toISOString() }, chunks: [{ externalId: `ebay:${listing.itemId}:summary`, content: `${listing.title} — ${listing.currency} ${listing.price.toFixed(2)}.`, citation }], offers: [{ externalId: `ebay:${listing.itemId}:offer`, partId: listing.partId, provider: 'eBay', providerSku: listing.itemId, purchaseUrl: listing.itemWebUrl, availability: 'in_stock', price: listing.price, currency: listing.currency, thumbnailDataUrl: `data:${mimeType};base64,${image.data}`, observedAt: observedAt.toISOString(), expiresAt: expiresAt.toISOString(), sourceUrl: listing.itemWebUrl, citation }], cadAssets: [] } }];" }, "id": "ebay-payload", "name": "Build typed eBay catalog payload", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1540, 0] },
    { "parameters": { "method": "POST", "url": "={{ $env.INGEST_API_URL }}", "sendHeaders": true, "headerParameters": { "parameters": [{ "name": "Authorization", "value": "=Bearer {{ $env.INGEST_API_TOKEN }}" }] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json) }}" }, "id": "ebay-upsert", "name": "Application ingest upsert", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1760, 0], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 }
  ],
  "connections": {
    "Manual eBay refresh": { "main": [[{ "node": "Request eBay application token", "type": "main", "index": 0 }]] },
    "Request eBay application token": { "main": [[{ "node": "Approved eBay part queries", "type": "main", "index": 0 }]] },
    "Approved eBay part queries": { "main": [[{ "node": "Search approved US fixed-price listings", "type": "main", "index": 0 }]] },
    "Search approved US fixed-price listings": { "main": [[{ "node": "Select cited eBay listing", "type": "main", "index": 0 }]] },
    "Select cited eBay listing": { "main": [[{ "node": "Hash selected eBay listing", "type": "main", "index": 0 }]] },
    "Hash selected eBay listing": { "main": [[{ "node": "Download eBay thumbnail for local cache", "type": "main", "index": 0 }]] },
    "Download eBay thumbnail for local cache": { "main": [[{ "node": "Build typed eBay catalog payload", "type": "main", "index": 0 }]] },
    "Build typed eBay catalog payload": { "main": [[{ "node": "Application ingest upsert", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "c20ed391-76e2-4724-b947-dc2e78b78c03"
}
